Checks: cppcoreguidelines-*,
        modernize-*,
        clang-analyzer-*,
        readability-*,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg, # disable warn on Zephyr macros
        -cppcoreguidelines-pro-type-cstyle-cast # disable warn on Zephyr macros

FormatStyle: "file"
