# SPDX-License-Identifier: Apache-2.0

mainmenu "ADA_TEST"

# Your application configuration options go here

config ADA_TEST
    default y
    bool
    select CPLUSPLUS
    select ADA_GNAT_RTS

# Sources Kconfig.zephyr in the Zephyr root directory.
#
# Note: All 'source' statements work relative to the Zephyr root directory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).
source "Kconfig.zephyr"
